@charset 'UTF-8';

@font-face {
  font-family: 'gotham-500';
  src: url('../type/GothamSSm-Medium.eot?#iefix') format('embedded-opentype'),  url('../type/GothamSSm-Medium.woff') format('woff'), url('../type/GothamSSm-Medium.ttf')  format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'gotham-300';
  src: url('../type/GothamSSm-Light.eot?#iefix') format('embedded-opentype'),  url('../type/GothamSSm-Light.woff') format('woff'), url('../type/GothamSSm-Light.ttf')  format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'gotham-200';
  src: url('../type/GothamSSm-XLight.eot?#iefix') format('embedded-opentype'),  url('../type/GothamSSm-XLight.woff') format('woff'), url('../type/GothamSSm-XLight.ttf')  format('truetype');
  font-weight: 200;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

h1 {
	font-family: 'gotham-200', 'helvetica-neue', helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 58px;
	line-height: 1.3;
	margin: 0 auto;
	color: #3c3c3c;
}

h2 {
	font-family: 'gotham-300', 'helvetica-neue', helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 11px;
  line-height: 1.6;
  letter-spacing: 3px;
	margin: 0 auto;
	margin-bottom: 18px;
	color: #3c3c3c;
  text-transform: uppercase;
}

p {
	font-family: 'gotham-200', 'helvetica-neue', helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 2;
	margin: 0 auto;
	color: #3c3c3c;
}

.introduction p {
	font-family: 'gotham-200', 'helvetica-neue', helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 32px;
	margin: 0 auto;
	color: #6c6c6c;
  margin: 20px 5% 20px 5%;
}

.introduction p a {
  font-family: 'gotham-200', 'helvetica-neue', helvetica, arial, sans-serif;
}

a {
	-webkit-transition: all 0.2s ease-out;
	color: #2AA5DD;
	text-decoration: none;
}

a:hover {
	color: #ff6c98;
	text-decoration: none;
}

ul li a {
	color: #3c3c3c;
	text-decoration: none;
}

.container {
	max-width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

.row {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	clear: both !important;
}

.page-header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.navigation {
	width: 100%;
	padding-top: 60px;
 	margin: 0 auto;
  text-align: center;
}

.navigation ul {
	height: 32px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
	list-style-type: none;
  float: right;
}

.navigation ul li {
  float: left;
	margin-right: 40px;
}

.navigation ul li:last-child {
	margin-right: 0px;
}

.header-avatar {
  width: 224px;
  height: 224px;
  margin: 0 auto;
  margin-bottom: 40px;
  }

.introduction {
  margin: 0 auto;
  margin-top: 80px;
	width: 90%;
	text-align: center;
}

.brands {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
	width: 90%;
	text-align: center;
  display: inline-block
}

.brands ul {
  height: 120px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
	list-style-type: none;
}

.brands ul li {
  display: inline;
  margin-right: 40px;
}

.brands ul li:last-child {
	margin-right: 0px;
}

.brand-logo {
  width: 120px;
  height: 120px;
}

.footer {
	width: 80%;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
	clear: both !important;
}

.footer p#copyright {
	font-size: 14px;
	color: #9c9c9c;
}


@-webkit-keyframes link-bob {
  0% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

@keyframes link-bob {
  0% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

@-webkit-keyframes link-bob-float {
  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

@keyframes link-bob-float {
  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

.link-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.link-bob:hover, .link-bob:focus, .link-bob:active {
  -webkit-animation-name: link-bob-float, link-bob;
  animation-name: link-bob-float, link-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.fadeInBlock {
    opacity: 0;
}
